<div class="def-container">
  <app-description class="description" [values]="formGroup.get('description').value"></app-description>
  <app-conditions class="conditions" [values]="formGroup.get('conditions').value"></app-conditions>
  <div class="tutorial">
    <h2>Catalog promotion tutorial</h2>
    <p class="tutorial-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum dolor nibh, sagittis ac maximus quis, feugiat vel libero.
      In a lectus eu magna sodales tincidunt nec sit amet felis. Donec suscipit venenatis eros.
    </p>

    <p class="tutorial-paragraph">
      Nunc gravida feugiat elit. Integer ac consectetur nisl, nec feugiat erat.
      Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>

    <p class="tutorial-paragraph">
      Nunc volutpat a libero id iaculis. Suspendisse sapien dui, convallis in erat facilisis, aliquet maximus ipsum.
      Cras consectetur mollis sem, vitae lacinia quam convallis suscipit. Maecenas nec tortor arcu.
    </p>
  </div>
</div>

