.main-container {
  width: 100%;
  height: 97vh;
  display: flex;
  background-color: white;
  font-family: 'Lato';
  margin-top: 1.5rem;
}

.sidebar {
  flex: 1;
  height: auto;
}

.content {
  flex: 4;
  height: 100%;
}
