<nav class="nav-container">
  <ol>
    <li class="nav-item"
        [class.item-active]="activeId === navItem.nr"
        *ngFor="let navItem of navList">
      <a [routerLink]="navItem.nr"
         [class.item-inactive]="navItem.nr !== 1 && (!routesActive || (navItem.inactive && !bonusActive))">
        <div class="nr"
             [class.nr-active]="activeId === navItem.nr"
             [class.nr-inactive]="navItem.nr !== 1 && (!routesActive || (navItem.inactive && !bonusActive))">
          {{navItem.nr}}
        </div>
        {{navItem.name}}
      </a>
      <app-question-mark *ngIf="navItem.inactive"></app-question-mark>
    </li>
  </ol>
</nav>

