<nav class="nav-container">
  <ol>
    <li class="nav-item item-active"><a routerLink="1"><div class="nr active">1</div>Definition</a></li>
    <li class="nav-item"><a routerLink="2"><div class="nr">2</div>Choose products</a></li>
    <li class="nav-item"><a routerLink="3"><div class="nr">3</div>Exclude products</a></li>
    <li class="nav-item"><a routerLink="4"class="item-inactive"><div class="nr inactive">4</div>Bonus products</a>
      <app-question-mark></app-question-mark>
    </li>
    <li class="nav-item"><a routerLink="5" class="item-inactive"><div class="nr inactive">5</div>Products limits</a>
      <app-question-mark></app-question-mark>
    </li>
    <li class="nav-item"><a routerLink="6"><div class="nr">6</div>Choose clients</a></li>
    <li class="nav-item"><a routerLink="7"><div class="nr">7</div>Exclude clients</a></li>
    <li class="nav-item"><a routerLink="8"><div class="nr">8</div>Clients limits</a></li>
    <li class="nav-item"><a routerLink="9"><div class="nr">9</div>Summary</a></li>
  </ol>
</nav>
