@import "../../common/variables";

.question-container {
  width: 14px;
  height: 14px;
  background-color: $info-color;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  margin: 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-transform: lowercase;
}
