@import "../../common/mixins";
@import "../../common/variables";

.conditions {
  display: flex;
  flex-direction: column;
}

.title-container {
  @include description-item-title;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    display: inline-block;
    position: static;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

.item-container {
  @include item-container;
  justify-content: space-between;
}

.required {
  @include required;
}

.form-item {
  @include form-item;
}

.benefit {
  background-color: #f2f2f2;
  color: #949494;
  width: 75%;
}

.date-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & input {
    width: 100%;
    margin-right: 1rem;
    padding-right: 0.4rem;
  }

  & span {
    top: 0.2rem;
    right: 1.2rem;
  }
}

.form-date {
  height: 2rem;
  border: none;

  &::-webkit-calendar-picker-indicator {
    font-size: 1.5rem;
    opacity: 0.7;
  }
}

.round {
  display: flex;
  margin-top: 1rem;

  & .checkbox-item:nth-child(2){
    margin-left: 3rem;
  }
}

.checkbox-item {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.option {
  height: 2rem;
  border: 1px solid salmon;
}

.error {
  @include error-message;
}

.date-error {
  margin-top: 0;
}

