@import "../../common/variables";
@import "../../common/mixins";

.description {
  display: flex;
  flex-direction: column;
}

.title-container {
  @include description-item-title;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    display: inline-block;
    position: static;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

.form-container {
  @include item-container;
}

.form-item {
  @include form-item;
}

.textarea {
  height: 6rem;

  &::placeholder {
    padding-top: 0.6rem;
  }
}

.required {
  @include required;
}

.tutorial-paragraph {
  letter-spacing: 1px;
  margin: 1rem 0;
}

.error {
  @include error-message;
}



